# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.as linguist-language=Assembly
*.AS linguist-language=Assembly
*.AC linguist-language=C
*.ac linguist-language=C
